@model IEnumerable<video.Models.Movie>


@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
        @Html.ActionLink("Add Movie", "movieInfo", "Movies", null,new {@class="btn btn-primary" })
  


@foreach (var movie in Model)
{
    <li>
        @Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.id }, null)

        @*@movie.Name*@
    </li>
}



