@model video.Models.Customer

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>
<ul>

    @Model.name
    @*  @Html.ActionLink(Model.Name, "index", "Customers", new { id = Model.id }, null)*@

    
</ul>